.well.sidebar-nav
  %h4.sidebar_title
    = image_tag @icon_image, class: "icon"
    = t("side_menu.blogs")
  %ul.nav.nav-list
    - @recent_blogs.each do |blog|
      %li= link_to blog.title + "(" + l(blog.created_at, format: :very_short) + ")", blog
